.scrollDownBtn{
    height: 7vh;
    width: 7vh;
    animation: moveDownAndUp 2s ease infinite;

  }
  
  @keyframes moveDownAndUp {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(1vh);
    }
    60% {
        transform: translateY(0.85vh);
      }
    70% {
        transform: translateY(1.15vh);
    }
  }

.scrollDownBtn:hover{
    filter: drop-shadow(0 0 2vh #8b8282aa);
}